<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>106653215776-06s5v62bdit72kagbmbkhve0r23atvbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106653215776-06s5v62bdit72kagbmbkhve0r23atvbd</string>
	<key>API_KEY</key>
	<string>AIzaSyA9c-6wmhmZdM7UfQRs9u7gaOqWaVmhmkg</string>
	<key>GCM_SENDER_ID</key>
	<string>106653215776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brownie.dev.nonTitle</string>
	<key>PROJECT_ID</key>
	<string>customwebview-85cbe</string>
	<key>STORAGE_BUCKET</key>
	<string>customwebview-85cbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:106653215776:ios:2f932e840ea63a6b</string>
	<key>DATABASE_URL</key>
	<string>https://customwebview-85cbe.firebaseio.com</string>
</dict>
</plist>